.App {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main {
  width: 75%;
  /* max-width: 75%; */
}

#map {
  /* TODO: Add media query to adjust map height at lower resolution */
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  max-width: 80vw;
  margin: 0;
  padding: 0;
}

#sidebarContainer {
  width: 25%;
  min-width: 25%;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

#sidebarHeader {
  color: lightblue;
}

#closeNav {
  margin: 15px 5px 0 0;
  height: 30px;
  width: 30px;
  background: black;
  color: lightblue;
  border: none;
}

#venueList {
  list-style: none;
  padding: 1px;
}


/* @media screen and (max-width: 900px) {
  #main {
    width: 60%;
  }

  #navContainer {
    width: 40%;
  }
}

@media screen and (max-width: 556px) { 
  #main {
    max-width: 70%;
  }

  #navContainer {
    width: 30%;
  }

  #nav {
    width: 100%;
  }
} */