.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100vh;
  max-height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#nav {
  width: 100%;
  height: 100%;
  max-height: 60px;
  text-align: left;
  border-bottom: 1px solid rgba(0,0,0, 0.4);
  background: lightblue;
  overflow-y: hidden;
}